/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: gainsboro;
  font-family: "Roboto", sans-serif;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  text-align: center;
  padding-top: 100px;
}

.box {
  display: inline-block;
  border: solid 2px #c1bdbd;
  border-radius: 5px;
  width: 450px;
  background-color: white;
}
.box .price {
  padding-top: 35px;
  padding-bottom: 15px;
  font-size: 45px;
  font-weight: bold;
}
.box .blue {
  color: #0096FF;
}
.box .orange {
  color: #FF5733;
}
.box h2 {
  color: #717070;
  font-weight: 700;
  padding-bottom: 40px;
}
.box p {
  color: #cac3c3;
  padding-bottom: 30px;
}
.box .button {
  font-size: 20px;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 3px;
}
.box .bluebg {
  background-color: #0096FF;
}
.box .orangebg {
  background-color: #FF5733;
}
.box .padd {
  padding-bottom: 30px;
}

.devider {
  display: inline-block;
  padding: 30px;
}/*# sourceMappingURL=style.css.map */